*.pyc
__pycache__/
.env
PokemonDataGen1/
ProcessedPokemonDataGen1/
SplitProcessedPokemonDataGen1/
PokemonDataGen1Augmented/
SplitMoreProcessedPokemonDataGen1/
ProcessedPokemonDataGen1NewAug/
SplitNewMoreProcessedPokemonDataGen1/
SplitNewAugMoreProcessedPokemonDataGen1/
FullSplitAugPokemonDataGen1/
Models/
MoreAugProcessedGen1Pokemons/
Dexter_PokemonGen1Ai.h5
model_checkpoint.h5
Dexter_PokemonGen1Ai16.h5
Dexter_PokemonGen1Ai20.h5

