*.pyc
__pycache__/
.env
PokemonDataGen1/
ProcessedPokemonDataGen1/
SplitProcessedPokemonDataGen1/
PokemonDataGen1Augmented/
SplitMoreProcessedPokemonDataGen1/
ProcessedPokemonDataGen1NewAug/
SplitNewMoreProcessedPokemonDataGen1/
Models/
Dexter_PokemonGen1Ai.h5
model_checkpoint.h5

